
h1
{
	font-family: Verdana;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 1px;
	color: #1B0A2A;
	padding-left:100;
	
}
h2
{
	font-family: Verdana;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 1px;
	color: #2ECCFA;
}

h3
{
	font-family: Verdana;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 1px;
	color: #2ECCFA;
}

h4
{
	font-family: Verdana;
	font-weight: bolder;
	color: #D7DF01;
}
h5
{
	font-family: Verdana;
	font-weight: bold;
	color: #D7DF01;
}
h6
{
	font-family: Verdana;
	font-weight: bold;
	color: #D7DF01;
}
body

{
	background-image: url("lightwood2.png");
}
button
{
	box-shadow: 0px 5px 3px #000000;
}
.explain
{
	font-style : italic;
	font-size: 75%;
	color: #D7DF01;

}

a:link{text-decoration: none;}

a:hover
{
	
	background-color: #4B088A;
}

button:hover
{
	background-color: #4B088A;
	cursor: pointer

}
.button-std
{
	border: 1px solid #FFFFFF;
	font-style:normal;
	color: white;
	padding: 2px;
	font-family: sans-serif;
	font-size:120%;
	
	position:relative;
	
	background-color:#1B0A2A;
	width:25%;
	max-width: 200px;
	height:50px;
	
	border-radius:5px;


}

.button-small
{

	color: white;
	padding: 2px;
	font-family: sans-serif;
	border: 1px solid #FFFFFF;
	
	position:relative;
	border-spacing: 3px;
	background-color: #1B0A2A;
	width:15%;
	max-width: 150px;
	

	
	border-radius:5px;
}

.button-borderless
{

	border:none;	
	font-style:normal;
	color: white;
	padding: 2px;
	font-family: sans-serif;
	font-size:120%;
	
	position:relative;
	
	background-color:#1B0A2A;
	width:25%;
	max-width: 200px;
	height:50px;
	
	border-radius:5px;


}

.button-special
{

	border:none;	
	font-style:normal;
	color: #D7DF01;
	padding: 2px;
	font-family: sans-serif;
	font-size:120%;
	border: 1px solid #D7DF01;
	position:relative;
	
	background-color:#1B0A2A;
	width:25%;
	max-width: 200px;
	height:50px;
	
	border-radius:5px;


}

.sticky-normal
{
	background-image:url("sticky-yellow.png");
	
	min-width:640px;
	max-width:640px;
	min-height:480px;
	max-height:533px;
	
	padding-top:50px;



}

.sticky-normal:hover
{
	cursor:pointer;
	background-image:url("sticky-yellow-selected.png");
}

.sticky
{
 transform: rotate(357deg);

 font-family:cursive;
 font-style:italic;

 max-width:480px;
 padding-right:50px;
}