@charset "utf-8";
h1, h2, h3, h4, h5, h6
{
color: 	#00CC00;
font-weight:bold;
font-family:sans-serif;
}

body
{
	font-family:sans-serif;
}
a:link{text-decoration: none;}


a:hover
{
	font-weight:bold;
	color:#006600;
}

a
{
	color:#00CC00;
}

a:visited
{
	color: #66FF33;
}
button
{
	padding:2px 2px 2px 2px;
}
.button-large
{
	min-height: 50px;
	min-width: 100px;
	color:#00CC00;
	border-radius: 8px;
	border-style:solid;
	border-width:3px;
	border-color:#00CC00;
	
	font-weight:bold;
	font-size:larger;

}

.button-medium
{
	min-height: 30px;
	min-width: 60px;
	color:#00CC00;
	border-radius: 6px;
	border-style:solid;
	border-width:2px;
	border-color:#00CC00;
	
	font-weight:bold;
	font-size:large;

}

.button-small
{

	color:#00CC00;
	border-radius: 4px;
	border-style:solid;
	border-width:1px;
	border-color:#00CC00;
	
	font-weight:bold;


}

ul {
    list-style: none;
    padding:0;
    margin:0;
}
table
{
	margin-left:5%; 
   
    border-style:groove;
    border-color:#00CC00;

border-collapse:collapse;
}
th{
border: 1px solid black;
padding-left:5px;
background-color: 	#CCFF99;
padding-right:2px;
}
td
{

border: 1px solid black;

}
tr:nth-child(even)
{
	background-color: #E4E4E2;


}

ul > li:before {
    content: "• ";
    color: #00CC00; 
}

button:hover
{
cursor:pointer;
border-color:#00FF00;
color:#00FF00;
border-width: 3px;
}

.lime-unit
{
	margin-top:5px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:10px;
	margin-left:5%;
	background-color: 	#CCFF99;
	border-radius:5px;
}
