<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key ="AWSAccessKey" value ="AKIAJCQJG4W2Q5EHJ6AA"/>
      <add key ="AWSSecretKey" value="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"/>
      <add key ="AWSRegion" value ="us-east-1"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    
    </startup>
</configuration>